{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/base_css.css" %}">
    </head>
        <body>


            {% if form.subject.errors %}
                <ol>
                    {% for error in form.subject.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
            {% endif %}

            <form action="/search/" method="post">
                {% csrf_token %}
                {{form}}
                <input type="text"name="tag" maxlength="10" value="{{form.tag}}">
                <button id="search" >Поиск</button>
            </form>
            <form action="/" method="post">
                {% csrf_token %}
                <button id="refreshtable">Обновить таблицу</button>
            </form>
            <table>
                <tr>
                    <th>id</th>
                    <th>text</th>
                    <th>hashtags</th>
                    <th>created at</th>
                    <th>username</th>
                    <th>location</th>
                </tr>
                {% for item in latest_question_list %}
                <tr> 
                    <td>{{ item.tweet_id}}</td>
                    <td>{{ item.tweet_text}}</td>
                    <td>{{ item.hashtags}}</td>
                    <td>{{ item.created_at}}</td>
                    <td>{{ item.user_name}}</td>
                    <td>{{ item.location}}</td>


                </tr>
                {% endfor %}
            </table>
        </body>

