<!DOCTYPE html>
	<html>
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		</head>
		<body>
			<h1>Главная страница</h1>
			<p>Lorem ipsum dolor sit amet consectetuer cursus pede pellentesque vitae
			pretium. Tristique mus at elit lobortis libero Sed vestibulum ut eleifend habitasse.
			Quis Nam Mauris adipiscing Integer ligula dictum sed at enim urna. Et scelerisque
			id et nibh dui tincidunt Curabitur faucibus elit massa. Tincidunt et gravida
			Phasellus eget parturient faucibus tellus at justo sollicitudin. Mi nulla ut
			adipiscing. фывыфв</p>
		</body>
	</html> 
